---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import PostResearch from "../../components/PostResearch.astro";

import Center from "../../components/Center.astro";
import PageHeader from "../../components/PageHeader.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";



const research = await getCollection("research");
research.sort((a:any, b: any) => {
  return dayjs(b.data.datePublished).isBefore(dayjs(a.data.datePublished))
    ? -1
    : 1;
});

const title = "Research";
const description = "Research description text.";
---

<BaseLayout title={title} description={description} includeFooter padBottom>
  <PageHeader title={title} description={description} />
  <Center>
    
    <section>
      {
        research.map((res: any) => (
          <PostResearch
            url={res.data.url}
            title={res.data.title}
            description={res.data.description}
            datePublished={res.data.datePublished}
            projectLeader={res.data.projectLeader}
          />
        ))
      }
    </section>
  </Center>
</BaseLayout>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);

    & + section {
      margin-block-start: var(--space-3xl);
    }
  }
</style>
