---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import PostResearch from "../../components/PostResearch.astro";

import Center from "../../components/Center.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const descriptions = await Astro.glob("../../content/descriptions/researchPage.md")
const desc = descriptions.map(n => ({
  title: n.frontmatter.title,
  Content: n.Content
}))

const research = await getCollection("research");
research.sort((a:any, b: any) => {
  return dayjs(b.data.datePublished).isBefore(dayjs(a.data.datePublished))
    ? -1
    : 1;
});

const title = "Research";
const description = "Research description text.";
---

<BaseLayout title={title} description={description} includeFooter padBottom>
  
  <Center>
    <div class=page-header>
      <h1 class="page-title">{title}</h1>
      <p class="page-subtitle">
        {
          descriptions.map(({  Content }) => (
              <Content />
           ))
        }
      </p>
    </div>
    
    <section>
      {
        research.map((res: any) => (
          <PostResearch
            url={res.data.url}
            title={res.data.title}
            description={res.data.description}
            datePublished={res.data.datePublished}
            projectLeader={res.data.projectLeader}
          />
        ))
      }
    </section>
  </Center>
</BaseLayout>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);

    & + section {
      margin-block-start: var(--space-3xl);
    }
  }
  .page-title {
    padding-block-start: var(--space-2xl);
    line-height: var(--line-height-display);
  }
  .page-subtitle {
    font-size: var(--step-2);
    line-height: var(--line-height-tight);
    padding-block-start: var(--space-xs);
  }
  .page-header {
    padding-block-end: var(--space-3xl);
  }
</style>
