---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import PostResearch from "../components/PostResearch.astro";
import Center from "../components/Center.astro";
import ProjectPreview from "../components/ProjectPreview.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostEdu from "../components/PostEdu.astro";

const concerts = await getCollection("concerts");

// Sort by year subdirectory
concerts.sort((a: any, b: any) =>
  Number.parseInt(a.id.substring(0, 4)) > Number.parseInt(b.id.substring(0, 4))
    ? -1
    : 1,
);

const research = await getCollection("research");
research.sort((a:any, b: any) => {
  return dayjs(b.data.datePublished).isBefore(dayjs(a.data.datePublished))
    ? -1
    : 1;
});

const education = await getCollection("education");
education.sort((a:any, b: any) => {
  return dayjs(b.data.datePublished).isBefore(dayjs(a.data.datePublished))
    ? -1
    : 1;
});
---

<BaseLayout
  title="Centro di Ricerca Interdisciplinare sulla Voce (CRIV)"
  description="Centro di Ricerca Interdisciplinare sulla Voce (CRIV)"
  includeFooter
>
  <Center>
    <section class="home">
      <h1 class="visuallyhidden">Eva designs and builds for the web</h1>
      <div class="intro">
        <p>
          Description with links to
          <strong><a href="/concerts" class="inline-link">Concerts</a></strong>, 
          <strong><a href="/research" class="inline-link">Research</a></strong> and
          <strong><a href="/education" class="inline-link">Education</a></strong> pages
          and more text with some <span class="nowrap"
            ><a role="button" data-sam-button>links</a> if available.</span
          >
        </p>
      </div>
      
      <div class="continue">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="40px"
          fill="currentColor"
          ><path
            d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"
          ></path></svg
        >
      </div>
    </section>
    
    <section class="work">
      {concerts.map((project: any) => <ProjectPreview project={project} />)}
    </section>
    <section>
      <h2>Research</h2>
      {
        research.map((res: any) => (
          <PostResearch
            url={res.data.url}
            title={res.data.title}
            description={res.data.description}
            datePublished={res.data.datePublished}
            projectLeader={res.data.projectLeader}
          />
        ))
      }
    </section>
    <section>
      <h2>Education</h2>
      {
        education.map((res: any) => (
          <PostEdu
            url={res.data.url}
            title={res.data.title}
            description={res.data.description}
            datePublished={res.data.datePublished}
            teacher={res.data.teacher}
          />
        ))
      }
    </section>
    
  </Center>
</BaseLayout>



<style lang="scss">
  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .home {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xl);
    min-height: calc(100svh - var(--space-3xl) * 1.8);
  }

  .continue {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    color: var(--gray-10);

    @supports (animation-timeline: view()) {
      animation-name: fadeOut;
      animation-timing-function: linear;
      animation-fill-mode: both;
      animation-timeline: view();
      animation-range: contain 50% contain 80%;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .work {
    padding-block: var(--space-3xl) var(--space-xl);
  }

  .intro {
    padding-block-start: var(--space-2xl);
    text-wrap: balance;
    user-select: none;

    p {
      font-size: var(--step-4);
      letter-spacing: var(--letter-spacing-condensed);
      line-height: var(--line-height-tight);
    }
  }

  

  [data-sam-button] {
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }
  }
  
  section {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    margin-bottom: 1rem;
    & + section {
      margin-block-start: var(--space-3xl);
    }
  }

</style>
