---
import Center from "../Center.astro";
import { SubscribeForm } from "../Subscribe/SubscribeForm";
import config from "../../settings/site-config.json";
---

<footer id="footer">
  <Center>
    <div class="content">
      <div class="links">
        {
          config.footer.links.map(link=>
            <a href={link.url} data-fathom="footer-link">{link.name}</a>
          )
        }
      </div>
      <div class="links">
        {
          config.footer.social.map(link=>
            <a href={link.url} data-fathom="footer-link">{link.name}</a>
          )
        }
        
      </div>
      
      <div class="subscribe">
        <SubscribeForm text={config.footer.subscriptionText} client:visible />
      </div>
    </div>
  </Center>
</footer>

<style lang="scss">
  footer {
    font-size: var(--step--1);
    padding-block: var(--space-2xl);
    width: 100%;
    border-top: 1px solid var(--gray-6);
  }

  .content {
    display: grid;
    grid-template: "links1 links2 form" 1fr "banner banner form" auto / 0.5fr 0.5fr 2fr;
    gap: var(--space-m) var(--space-xl);

    @media (width < 650px) {
      grid-template: "form form" "links1 links2" "banner banner" / 1fr 1fr;
      gap: var(--space-xl);
    }
  }

  .links {
    display: flex;
    flex-flow: column wrap;
    gap: var(--space-2xs);

    a {
      display: inline-block;
    }

    &:first-child {
      grid-area: links1;
    }

    &:last-child {
      grid-area: links2;
    }
  }

  .copyright {
    color: var(--gray-11);
  }

  

  .subscribe {
    grid-area: form;
  }
</style>


