---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import PostEdu from "../../components/PostEdu.astro";

import Center from "../../components/Center.astro";
import PageHeader from "../../components/PageHeader.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import config from '../../settings/site-config.json';


const education = await getCollection("education");
education.sort((a:any, b: any) => {
  return dayjs(b.data.datePublished).isBefore(dayjs(a.data.datePublished))
    ? -1
    : 1;
});

const title = config.educationPage.title;
const description = config.educationPage.description;
---

<BaseLayout title={title} description={description} includeFooter padBottom>
  <PageHeader
  title={config.educationPage.title}
  description={config.educationPage.description}
  datePublished={new Date(config.educationPage.date)}
/>
  <Center>
    
    
    <section>
      {
        education.map((res: any) => (
          <PostEdu
            url={res.data.url}
            title={res.data.title}
            description={res.data.description}
            datePublished={res.data.datePublished}
            teacher={res.data.teacher}
          />
        ))
      }
    </section>
  </Center>
</BaseLayout>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);

    & + section {
      margin-block-start: var(--space-3xl);
    }
  }
  .page-title {
    padding-block-start: var(--space-2xl);
    line-height: var(--line-height-display);
  }
  .page-subtitle {
    font-size: var(--step-2);
    line-height: var(--line-height-tight);
    padding-block-start: var(--space-xs);
  }
  .page-header {
    padding-block-end: var(--space-3xl);
  }
</style>
