---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import PostEdu from "../../components/PostEdu.astro";

import Center from "../../components/Center.astro";
import PageHeader from "../../components/PageHeader.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";



const education = await getCollection("education");
education.sort((a:any, b: any) => {
  return dayjs(b.data.datePublished).isBefore(dayjs(a.data.datePublished))
    ? -1
    : 1;
});

const title = "Education";
const description = "Education description text";
---

<BaseLayout title={title} description={description} includeFooter padBottom>
  <PageHeader title={title} description={description} />
  <Center>
    
    <section>
      {
        education.map((res: any) => (
          <PostEdu
            url={res.data.url}
            title={res.data.title}
            description={res.data.description}
            datePublished={res.data.datePublished}
            teacher={res.data.teacher}
          />
        ))
      }
    </section>
  </Center>
</BaseLayout>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);

    & + section {
      margin-block-start: var(--space-3xl);
    }
  }
</style>
